@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
* { padding:0; margin: 0; box-sizing:border-box; }

/* this is a comment */
body {
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-size: 18px;
}

#wrapper {
	max-width: 80%;
	margin: 0 auto;
	background-color: #E3DCDC;
}

header {
	background-image: url(../images/BC_HeroIMG.svg);
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #1f1f1f;
	padding: 10em 0;
	color: rgba(255,255,255,1);
	text-shadow: 10%;
}
article {
	line-height: 1.2;
}

#main {
	background-color: #E3DCDC;
	font-size: 1em;
	line-height: 1.2em;
	padding: 0em 0em 0em .5em;
}

#one {
	padding: 0em 0em 0em .5em;
}

#contact {
	width: 100%;
	padding: 1em 0em 1em 1em;
	background-color: #1f1f1f;
	color: #E3DCDC;
}

#contact a:hover {
	color: #00c2ff;
}

#contact a {
	color: white;
}

img {
	width: 100%;
	line-height: 0;
}

h1 {
	font-weight: 600;
	font-size: 5em;
}

h3 {
	padding: 1.2em 0em 0em .7em;
	font-size: 1.4em;
}

p {
	max-width: 66%;
	margin: 1em 0em 1.2em 1em;
	line-height: 2;
	border: 0px black solid;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

#main a:hover {
	color: #00c2ff;
}

footer {
	color: #222;
	background-color: #E3DCDC;
	max-width: 100%;
	line-height: 1em;
	padding: 1.5em 0em 1.5em 1em;
	font-size: .8em;
}

#specialization {
	background-color: none;
}

#specialization ul {
	margin: 1em 0em 1em 3em;
	width: 40em;
}

#specialization li {
	float: left;
	padding: 0em 0em 1.2em 0em;
	width: 40%;
	list-style-type: none;
}

#specialization a:hover {
	color: #00c2ff;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen  and (min-width: 361px) and (max-width: 768px) {

	#wrapper {
		max-width: 90%;
}
	
	body {
		font-size: 16px;
	}

	h1 {
	padding: 0px 0px 0px 2em;
	font-size: 3em;
	}

}

@media only screen and (max-width: 360px) {
	#wrapper {
		max-width: 100%;
	}

	body {
		max-width: 100%;
		font-size: 12px;
	}
	
	h1 {
	padding: 0px 0px 0px 2em;
	font-size: 2em;
	}

	p {
		max-width: 90%
	}

	#specialization li {
	float: none;
	width: auto;
	padding: 0em;
}

}

