@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
* { padding:0; margin: 0; box-sizing:border-box; }
body {
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-size: 1.2em;
}

#wrapper {
	max-width: 90%;
	margin: 0 auto;
	border: 0px black solid;
	background-color: green;
}

header {
	background-image: url(../images/BC_HeroIMG.svg);
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #1f1f1f;
	padding: 12em 0;
	color: #E3DCDC;
	text-shadow: 10%;
}
article {
	line-height: 1.2;
}

#main {
	border: 0px black solid;
	background-color: #E3DCDC;
	line-height: 1.2em;
}

#one {
	border: 0px black solid;
	padding: 25px 0px 10px 20px;
}

#contact {
	border: 0px black solid;
	padding: 10px 0px 10px 20px;
	background-color: #1f1f1f;
	color: #E3DCDC;
}

#contact a:hover {
	color: blue;
}

img {
	width: 100%;
	line-height: 0;
}

h1 {
	padding: 0px 0px 0px 20px;
	border: 0px black solid;
	font-weight: 600;
	font-size: 4em;
}

h3 {
	padding: 10px 0px 0px 10px;
	border: 0px black solid;
}

a {
	color: inherit;
	font-weight: bold;
}

p {
	max-width: 66%;
	margin: 20px 0px 20px 10px;
	line-height: 2;
	border: 0px black solid;
}

footer {
	color: #222;
	background-color: #E3DCDC;
	line-height: .5em;
	padding: 16px 0px 16px 20px;
	border: 8px yellow;
	font-size: .8em;
}

#specialization {
	background-color:none;
}
#specialization ul {
	margin:auto;
	width:30em;
}
#specialization li {
	float:left;
	padding:1em;
	width:50%;
}
.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

